@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap');

body {
  background-color: #373a4d;
  font-family: 'Kanit', sans-serif;
}

h1 {
  font-size: 4.3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  align-items: flex-start;
  margin: 2rem auto;
}

.card {
  height: 48vh;
  width: 16vw;
  margin: 3%; 
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 10px;
  font-size: 1.5rem;
  border-radius: 3%;
  position: relative;
  transition: transform 0.9s;
}


.front,
.back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  backface-visibility: hidden;
}

.img {
  flex-wrap: wrap;
  align-items: center;
  height: 34%;
  width: 52%;
  border: 0px solid #000;
  border-radius: 6%;
}

.name,
.role {
  font-size: 1.3rem;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-button {
  font-family: 'Kanit', sans-serif;
  margin: 3px;
}

.hi {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin: 3px;
}

.show-all-button,
.Controller,
.Sentinel,
.Initiator,
.Duelist {
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  margin: 1rem;
}

.back .description {
  padding: 0 1rem;
  font-size: 1rem; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  color: white;
}

@media screen and (max-width: 1000px) {
  .card {
      width: 40%;
  }
  
}

@media screen and (max-width: 813px) {
  .card {
      width: 90%;
  }
  
}