@import url(variables.css);


.column {
  display:flex;
  width: 80%;
  height: 100%;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 5rem auto;
}


.card {
  height: 48vh;
  width: 19vw;
  margin: 4.5%;
      display:flex;
      flex-direction: column;
      background-color: #ffffff;
      align-items: center;
      justify-content: space-around;
      box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 10px;
      font-size: 1.5rem;
  border-radius: 3%;
  }

.img 
{
flex-wrap: wrap;
align-items: center;
height: 34%;
width: 52%;
border:0px solid #000;
border-radius: 6%;

}

.name {
  font-size: 33px;
}
.role {
  font-size: 24px;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-button{
  font-family: 'Kanit', sans-serif;    
margin: 3px;
}

.hi {
  display: flex;
  justify-content: center;
text-align: center; 
font-size: 50px;
margin: 3px;
}

.show-all-button, .Controller, .Sentinel, .Initiator, .Duelist {
  font-family: 'Kanit', sans-serif;    
  font-size: 15px;
  margin: 1rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  color: white;
}