body {
    background-color: #373a4d;
    font-family: 'Kanit', sans-serif;    
}



h1 {
    font-size: 4.3rem;
    text-align: center;
    color: rgb(255, 255, 255)   ;
}

.card:hover {
    transform: scale(1.06);
}
.card {
    transition: all 0.9s;
}